body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.container {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    color: white;
}

.version {
    background-color: rgb(16, 181, 27);
}

.button{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5%;
    background-color: antiquewhite;
}